@import './globals.css';

main {
  margin-top: 4rem;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  min-width: 100%;

  section {
    max-width: 40vw;

    
    
    .actions {
      margin-top: 2.5rem;
      
      display: flex;
      align-items: center;
      gap: 0.5rem;
      
      .registration-link {
        background-color: #535353;
        padding: 1rem 2rem;
        color: #ffffff;
        font-weight: 600;
        font-size: 1.5rem;
        text-decoration: none;
        border-radius: 6px;
        
        transition: background 400ms;
        
        &:hover {
          background: #2a2a2a;
        }
      }
    }
  }
}

h1 {
  font-size: 3rem;
  color: #003FB9;
}

p {
  font-size: 1.75rem;
  color: #555555;
  font-weight: 600;
  margin-top: 1.5rem;
}

figure img {
  max-width: 40vw;
}

@media screen and (max-width: 1280px) {
  figure img {
    max-width: 550px;
  }
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  section {
    min-width: 100%;
    text-align: center;

    a.registration-link{
      margin: 0 auto;
    }
  }

  .actions {
    justify-content: space-between;
  }

  .medias-box {
    display: flex;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }

  img {
    width: 80%;
  }

  h1 {
    font-size: 1.75rem;
  }

  p,
  a {
    font-size: 1.15rem;
  }

  a.registration-link{
    text-align: center;
    padding: 30rem;
  }
}