header {
    min-width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #ffffff;

    position: relative;
    z-index: 99;

    padding: 0.75rem 2rem;

    font-size: 1.5rem;

    nav ul {
        list-style: none;
        display: flex;
        gap: 2rem;
        align-items: center;

        li a {
            text-decoration: none;
            color: #000000;

            display: inline-block;
            position: relative;

            max-width: fit-content;
        }

        li a:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #000000;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        li a:hover:after {
            width: 100%;
            left: 0;
        }
    }

    >a.header-registration-link {
        text-decoration: none;

        background: #0057FF;
        color: #ffffff;
        font-weight: 700;
        padding: 0.5rem 1.25rem;
        border-radius: 6px;
        transition: all 400ms;

        &:hover {
            background: #407ef9;
        }
    }
}

.active-location-link {
    text-decoration: underline;
    color: #00000073;
    cursor: default;
    pointer-events: none;

    &:after {
        background: none;
        display: none;
    }
}

.open-mobile-menu {
    font-size: 2.25rem;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: color 400ms;
    display: none;

    &:hover {
        color: #0057FF;
        font-weight: 600;
    }
}

.opened-mobile-menu {
    display: block;
    animation: openMenu ease 1s;
}

@media screen and (max-width: 1080px) {
    header {
        font-size: 1rem;
    }
}

@media screen and (max-width: 856px) {
    header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    header nav {
        display: none;
        position: absolute;
        z-index: -1;
        overflow: hidden;
        top: 100%;
        left: 0;
        padding: 1.25rem 0;

        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        width: 100%;

        ul {
            display: flex;
            flex-direction: column;
        }
    }

    header>img {
        width: 300px;
    }

    a.header-registration-link {
        display: none;
    }

    button.open-mobile-menu {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding-top: 0.75rem;
    }

    header img {
        width: 200px;
    }

    header button i {
        font-size: 1.75rem;
    }
}

@keyframes openMenu {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}